<body id="landing-page">
  <div class="introduction animated fadeIn">
    <h1 class="app-name">Crowded Lands</h1>
    <h2 class="lead">We visualize the population density of any country in the world.</h2>
    
    <div class="countries-link">
      <%= link_to "Start Now", countries_path, id: "start-now" %>
    </div>
  </div>
</body>