<body id="countries">
  <div class="container">

  	  <!-- d3 visualization -->
	  <div id="tessellation"></div>
	  <!-- d3 visualization end -->


</body>
	  <div id="selectbox">
	  	<%= select(:Country, :name, Country.order_by("name ASC").all.collect {|p| [ p.name, p.id, { 'data-density' => p.pop_density}]}, prompt: 'Type Country') %>
	  </div>
  </div>	  

<!-- selectbox search field -->
<script>
	(function($){
	    $(function(){
	        $('select').selectToAutocomplete();
	        $('form').submit(function(){
	            alert( $(this).serialize() );
	            return false;
	        });
	    });
	})(jQuery);
</script>
<!-- selectbox search field end-->






