<body id="countries">
  <div class="container">

  	  <!-- country name	 -->
  	  <div id="header-div"></div>
  	  <!-- country name end -->

  	  <!-- d3 visualization -->
	  <div id="tessellation"></div>
	  <!-- d3 visualization end -->

	  <div id="selectbox">
	  	<%= select(:Country, :name, Country.order_by("name ASC").all.collect {|p| [ p.name, p.id, { 'data-density' => p.pop_density}]}, prompt: 'United States of America') %>
	  </div>
	  <div id="country-info">
	  	<p id="details"></p>
	  </div>

	  <div id="home-link">
  	  	<%= link_to image_tag('arrow.png'), root_path %>
  	  </div>
  </div>	  
</body>

<!-- selectbox search field -->
<script>
	(function($){
	    $(function(){
	        $('select').selectToAutocomplete();
	        $('form').submit(function(){
	            alert( $(this).serialize() );
	            return false;
	        });
	    });
	})(jQuery);
</script>
<!-- selectbox search field end-->





