@import 'home';

#countries {
	color: #333;
	overflow: hidden;
	font-family: $marketing-font;

	#header-div {
		text-align: center;
      h1 {
		font-family: $header-font;
		font-size: 40px;
		text-transform: uppercase;
	}
	}


	/*d3 visualization*/
	#tessellation {
	  height: 391px;
	  width: 750px;
	  margin-left: auto;
	  margin-right: auto;

	path {
  	  stroke: #fff;
	}

	path:first-child {
  	  fill: #92BFAA !important;
	}

	circle {
  	  fill: #000;
      pointer-events: none;
	}

	.q0-9 { fill: #003540; }
	.q1-9 { fill: #0D3F40; }
	.q2-9 { fill: #487360; }
	.q3-9 { fill: #8FA671; }
	.q4-9 { fill: #F2D795; }
	.q5-9 { fill: #003540; }
	.q6-9 { fill: #0D3F40; }
	.q7-9 { fill: #487360; }
	.q8-9 { fill: #8FA671; }
	}
	/*d3 visualization end*/

	/*select box*/
	#selectbox {
	  padding: 10px;
	  background-color:#003540;
	  width: 200px;
	  position: absolute;
	  top: 0;
	  right: 0;
	}

	.ui-autocomplete {
	  font-size: 14px;
	  padding: 0;
	  list-style: none;
	  background-color: #fff;
	  width: 200px;
	  border: 1px solid #B0BECA;
	  max-height: 350px;
	  overflow-y: scroll;
	}

	.ui-autocomplete-input {
	   background: url(magnifying_glass.png) no-repeat 6px 4px #fcfcfc;
	   border: none;
	   color: #444;
	   font-family: $marketing-font;
	   font-size: 13px;
	   font-weight: bold;
	   margin-bottom: 3px;
	   width: 152px;
	   padding: 6px 15px 6px 35px;
	   text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	   -webkit-transition: all 0.7s ease 0s;
	   -moz-transition: all 0.7s ease 0s;
	   -o-transition: all 0.7s ease 0s;
	   transition: all 0.7s ease 0s;
	}

    .ui-autocomplete .ui-menu-item a {
	  border-top: 1px solid #B0BECA;
	  display: block;
	  padding: 4px 6px;
	  color: #353D44;
	  cursor: pointer;
	}
    
	.ui-autocomplete .ui-menu-item:first-child a {
 	  border-top: none;
	}

	.ui-autocomplete .ui-menu-item a.ui-state-hover {
      background-color: #D5E5F4;
      color: #161A1C;
	}

	#country-info {
		text-align: center;
		font-size: 22px;
		font-weight: bold;
	}
	/*select box end*/
}



